<div>
  <button mat-button>Button 1: normal</button>
  <button mat-raised-button>Button 2: raised</button>
  <button mat-flat-button>Button 3: flat</button>
  <button mat-stroked-button>Button 4: strocked</button>
</div>

<div>
  <button mat-icon-button>Icon button</button>
  <button mat-fab class="fab">Fab Buton</button>
  <button mat-mini-fab>Mini Fab</button>
</div>

<div>
  <button mat-button color="primary">Primary Normal Button</button>
  <button mat-button color="accent">Accent Normal Button</button>
  <button mat-button color="warn">Warn Normal Button</button>
</div>

<div>
  <button mat-flat-button color="primary">Primary Flat Button</button>
  <button mat-flat-button color="accent">Accent Flat Button</button>
  <button mat-flat-button color="warn">Warn Flat Button</button>
</div>

<div>
  <button mat-flat-button disableRipple color="primary">Dissable Ripple Flat Button</button>
</div>
